button, 
.wc-proceed-to-checkout 
.checkout-button, 
.mailpoet_submit,
.tinvwl_add_to_wishlist_button,
.awooc-custom-order.button.alt.show-add-to-card,
.wcppec-checkout-buttons__button {
	border: none;
	background-color: $orange;
	padding: 5px 10px;
	text-align: center;
	color: white;
	border-radius: 5px;
	

	&:hover {
		text-decoration: none;
		background-color: darken($orange, 10%);
		color: white;
	}
	
	&:active {
		background-color: darken($orange, 20%);
	}

}

.awooc-custom-order.button.alt.show-add-to-card  {
	margin: 10px 0;
	display: inline-block;
	margin-left: 0 !important;
}

.return-to-shop {
	margin-bottom: 10px;
	display: inline-block;
	
	.button.wc-backward {
		border: none;
		border-radius: 5px;

		background-color: $orange-dark;
		padding: 5px 10px;
		text-align: center;
		color: white;

	
		&:hover {
			text-decoration: none;
			background-color: darken($orange, 10%);
		}
		
		&:active {
			background-color: darken($orange, 20%);
		}
	}
}



.single_add_to_cart_button,
.tinvwl_add_to_wishlist_button,
.awooc-custom-order.button.alt.show-add-to-card {
	font-size: 14px;
	padding: 10px 30px;
	border-radius: 5px;

}

